footer {
    color: rgb(142, 142, 142);
}

.links {
    margin: 0 auto;
}

.links a {
    text-decoration: none;
    color: rgb(142, 142, 142);
    font-size: 13px;
    margin: 0 10px 10px 10px;
}

.links a:hover {
    text-decoration: underline;
}